{% extends 'base.html' %}

{% block content %}

    <h2>{{ book.title }}</h2>
    <p>{{ book.description }}</p>
    <p>Автор: {{ book.author }}</p>
    <p>Жанр: {{ book.genre }}</p>
    <p>Страниц: {{ book.pages }}</p>
    <p>Добавлена: {{ book.created_at|date:"d.m.Y" }}</p>

    <a href="{{ book.pdf_file.url }}" class="btn">Читать</a>


    <br><br>

    <a href="{% url 'book_update' book.id %}" class="btn">Изменить</a>
    <a href="{% url 'book_delete' book.id %}" class="btn">Удалить</a>

{% endblock %}