header {
    display: flex;
    align-items: center;
    margin: 20px 0 10 0 ;
    gap: 30px;

    .logo {
        margin-right: 200px;
        margin-left: 30px;
    }

    nav {
        display: flex;
        gap: 100px;

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: rgb(73, 73, 233);
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10 0 ;
    gap: 30px;
    background-color: white;
    padding: 100px 50px;
    margin-bottom: 0%;
}